body {
	background: yellow;
}

.klasni_selektor {
	color: red;
	font-size: 20px;
	text-align: center;
}

#id_selektor_tabele {
	background: blue;
	color: white;
	height: 150px;
	width: 400px;
	border: 5px solid green;
}

tr, td, th {
	border: 5px solid green;
}